{% extends 'core/base.html' %}


{% block title %}
{{story.title}}
{% endblock title %}


{% block content %}
<div class="container">
    <h3>Stories</h3>
    <hr>

    {% include 'story/islands/story.html' %}
    <hr>
    
    {% if user.is_authenticated %}
        
    
    <form action="{% url 'reply_story' story.pk %}" method="post">
        {{ rform }}
        {% csrf_token %}
        <br>
        <br>
        <button type="submit">Comment</button>
    </form>
    {% else %}
    <p>You need to <a href="{% url 'login' %}">login</a> to comment.</p>
    {% endif %}

    <br>
    {% if story.replies.all %}
    <div class="box">
        {% for reply in story.replies.all %}
        {% include 'story/islands/story.html' with story=reply is_reply=True recursion=1 %}
        {% endfor %}
    </div>
    {% endif %}


</div>
{% endblock content %}