<header class="navbar">
    <nav aria-label="Site sections">
        <ul role="list">
            <li><a href="/">Port</a>
            <li><a href="/docs"><i class="bi bi-book-half"></i> Docs</a>
            <li><a href="https://github.com/foxy4096/Port/fork">Contribute</a>
            <li><a href="{% url 'submit' %}">Submit</a>
        </ul>
    </nav>
    <nav aria-label="Social media links">
        <ul role="list">
            <li><a href="/"><img alt=""></a>
            <li><a href="https://github.com/foxy4096/Port"><i class="bi bi-github"></i> GitHub</a>
                {% if user.is_authenticated %}
            <li><a href="{% url 'user-profile' user.username %}" class="ok"><i class="bi bi-person-fill"></i> {{ user.username }} ({{ user.userprofile.karma }})</a>
            <li><a href="{% url 'notification_page' %}"><i class="bi bi-bell-fill"></i> Notifications ({{ unread_notifications.count  }})</a></a>
            <li><a href="{% url 'logout' %}" class="bad"><i class="bi bi-door-closed-fill"></i> Logout</a>
                {% else %}
                <li><a href="{% url 'login' %}" class="ok">Login</a>
                <li><a href="{% url 'signup' %}">Signup</a>
                {% endif %}
        </ul>
        
    </nav>
    {% include 'core/islands/search_bar.html' %}
</header>