/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html {
  all: unset;
  scroll-behavior: smooth;
}


body {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 252, 246);
  font-family: "Inconsolata", monospace;
}

.nav {
  background-color: orange;
  padding: 5px 4px 5px 4px;
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
  flex-wrap: wrap;
  align-items: center;
}

  .profile{
  text-align: right;
}

.heading {
  font-weight: bold;
  font-size: larger;
  color: wheat;
}

.container {
  padding: 10px;
} */

/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
} */

.custom-box {
  margin: var(--gap) 0;
  padding: 9px 10px 1px 35px;
  overflow: clip;
  border-left: 2px solid;
}

#id_about {
  width: 581px;
  height: 170;
}
